<header id="main-header" class="bg-light-black">
    <div class="container">
        <div class="intro-text" style="margin-top:-110px">
            <img id="my_img" src="/assets/header-logo.png" alt="" style="width:90%; height:250px;">
            <div >
                <div class="intro-lead-in" style="margin-top:-50px">
                    FAQ
                </div>

            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6  my-short-margin">

            <h3 style="font-family:Hanna; font-size:55px">
                FAQ
            </h3>

            <h3 style="font-family:Hanna; font-size:30px">
                Q1. 출석제도는 어떻게되나요?
            </h3>
            <p style="font-family:Hanna;margin-top:25px;font-size:20px  ">
                매주 2회(*월/목 6시 30분)의 정기런이 진행되며 한 학기동안 최소 10번 이상 출석하셔야 크루원으로서의 자격이 유지됩니다. 번개런도 정기런과 동일하게 출석 인정됩니다.
            </p>

            <p  style="font-family:Hanna;margin-top:25px;font-size:20px  ">
                스프린트 회원의 필수 활동 기간은 1년 입니다.

            </p>
            <h3 style="font-family:Hanna; font-size:30px" class="my-short-margin">
                Q2. 런닝을 처음해보는데(군대에서만 해봤는데) 지원해도 괜찮나요?
            </h3>
            <p style="font-family:Hanna;margin-top:25px;font-size:20px   ">
                물론입니다. 1-2기의 경우에도 대부분 런닝 경험이 없으셨던 분들입니다.
            </p>

            <h3 style="font-family:Hanna; font-size:30px" class="my-short-margin">
                Q3. 구성원의 평균 연령대와 크루 규모가 궁금합니다.
            </h3>
            <p style="font-family:Hanna;margin-top:25px;font-size:20px   ">
                17학번부터 졸업생까지 다양한 학번이 공존하고 있습니다.
                한 시즌에 3~40명 규모를 유지하려고합니다.
            </p>
            <h3 style="font-family:Hanna; font-size:30px" class="my-short-margin">
                Q4. 연속 2시즌을 활동 한 후에는 어떻게 활동할 수 있나요?
            </h3>
            <p style="font-family:Hanna;margin-top:25px;font-size:20px   ">
                연속 2시즌을 활동한 후, SPRINT의 OB로서 인정받게됩니다. OB가 되면 매시즌 소정의 참가비 납부 후, 출결과 관계 없이 자유롭게 참여가 가능합니다.
            </p>
        </div>

    </div>
</div>
