<header id="main-header" class="bg-light-black">
    <div class="container">
        <div class="intro-text" style="margin-top:-110px">
            <img id="my_img" src="/assets/header-logo.png" alt="" style="width:90%; height:250px;">
            <div >
                <div class="intro-lead-in" style="margin-top:-50px">
                    갤러리
                </div>

            </div>
        </div>
    </div>
</header>

<section id="gallery">
    <div class="container">
        <div class="row">

            <% for i in 1..10 %>
            <% for j in 1..3 %>
            <div class="img col-md-4" data-aos="zoom-in">
                <a target="_blank" href="/assets/<%=i.to_s + j.to_s%>.jpeg">

                    <img src="/assets/<%=i.to_s + j.to_s%>.jpeg" alt="" class="image-responsive">
                    <!-- <img src="/assets/junggi3.jpg" alt=""> -->
                </a>
            </div>

            <% end %>
            <%end%>

        </div>
    </div>

</section>
