<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">SPRINT</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li>
					<a class="page-scroll" href="#services">About</a>
				</li>
				<li>
					<a class="page-scroll" href="#about"> 연간 일정 </a>
				</li>

				<li>
					<a class="page-scroll" href="#contact">지원하기</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="bg-light-black">
	<div class="container">



		<div class="intro-text">
		<img src="/assets/header-logo.png" alt="" style="width:90%; height:220px; ">
			<div class="intro-lead-in">
				모집합니다 3/1~ 3/12
			</div>
			<div class="intro-heading">
				SPRINT 2기
			</div>
			<a href="#services" class="page-scroll btn btn-xl">자세히</a>
		</div>
	</div>
</header>

<!-- Services Section -->
<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">SPRINT에서는 무엇을 하나요? </h2>
				<h3 class="section-subheading text-muted">서강대학교 사람들이 모여서 함께 뛸 수 있는 문화를 만들고자 합니다 </h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<img src="">
				<img src="/assets/songnyun.jpg" alt="" style="width:100%;height:auto">
				<h4 class="service-heading">정기러닝</h4>
				<p class="text-muted">
					정기러닝 설명
				</p>
			</div>
			<div class="col-md-4">
				<img src="/assets/songnyun.jpg" alt="" style="width:100%;height:auto">
				<h4 class="service-heading">즐거운 MT</h4>
				<p class="text-muted">
					엠티 설명
				</p>
			</div>

			<div class="col-md-4">
				<img src="/assets/songnyun.jpg" alt="" style="width:100%;height:auto">
				<h4 class="service-heading">대회참가</h4>
				<p class="text-muted">
					대회
				</p>
			</div>
		</div>
		<div class="row text-center" style="margin-top:40px">
			<div class="col-md-2">

			</div>
			<div class="col-md-4">
				<img src="/assets/songnyun.jpg" alt="" style="width:100%;height:auto">
				<h4 class="service-heading">송년회</h4>
				<p class="text-muted">
					대회
				</p>
			</div>
			<div class="col-md-4">
				<img src="/assets/songnyun.jpg" alt="" style="width:100%;height:auto">
				<h4 class="service-heading">송년회</h4>
				<p class="text-muted">
					대회
				</p>
			</div>
			<div class="col-md-2">

			</div>
		</div>
		</div>
	</div>
</section>

<!-- About Section -->
<section id="about" style="background-color:	#FDF5E6">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading"> 2기 리쿠르팅 일정 </h2>
				<h3 class="section-subheading text-muted"> 장기적으로 함께 즐기며 러닝을 할 사람과 함께 하고자 합니다. </h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<ul class="timeline">
					<li>
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="/assets/1.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>2/27, 3/6 </h4>
								<h4 class="subheading">게스트러닝 진행</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">
									 참가시 선발 우대
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="/assets/2.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>3/1~3/12</h4>
								<h4 class="subheading"> 접수 및 홍보기간 </h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">
									리쿠르팅 진행 !
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="/assets/3.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>3/14(화)~3/15(수)</h4>
								<h4 class="subheading">면접 진행</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">
									교내에서 면접이 진행될 예정입니다.
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="/assets/4.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>3/17</h4>
								<h4 class="subheading"> 선발 완료 </h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">
											개별 통지 예정
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<h4> SPRINT의
							<br>
							일원이
							<br>
							되어주세요!</h4>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>


<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Apply</h2>
				<p class="detail" style="color:#fed136">
					아래 설문지를 작성해서 지원해주세요!
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-md-6"></div>
					<div class="clearfix"></div>
					<div class="col-lg-12 text-center">
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSfPY4-9XNuKNWk-zi4zAheyhTuxI9-BF7L3cWs-Lx8n38FmnQ/viewform" target="_blank">
							<button type="submit" class="btn btn-xl" style="font-size:16px">
									SPRINT2기 지원하기
							</button>
						</a>
						<br>
					</div>
				</div>

				<!--세부사항 -->
				<div class="row">

				</div>

			</div>
		</div>
	</div>
</section>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->


<footer class="bg-light-black">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<span class="copyright">Copyright &copy; SPRINT Running Crew 2017</span>
			</div>
			<div class="col-md-6">
				<a href="http://instagram.com/_u/sprint_runningcrew/" target=""> <img src="/assets/insta" style="max-width: 100%; width: 25%; height: auto;"> </a>
			</div>
		</div>
	</div>
</footer>
