<!-- Header -->
<header id="main-header" class="bg-light-black">
	<div class="container">
		<div class="intro-text" style="margin-top:-110px">
			<img id="my_img" src="/assets/header-logo.png" alt="" style="width:90%; height:250px;">
			<div >
				<div class="intro-lead-in" style="margin-top:-50px">
					모집합니다 3/1~ 3/12
				</div>
				<div class="intro-heading">
					SPRINT 2기
				</div>

				<span >
					<a href="#portfolio" class="page-scroll btn btn-xl">
						자세히보기</a>
				</span>
			</div>
		</div>
	</div>
</header>

<!-- Services Section -->
<!-- 스프린트는 뭘하나요 Section -->

<section id="portfolio">
	<div class="container">
		<h2 class="section-heading">ABOUT SPRINT</h2>
		<div class="row">

			<div class="col-md-6 text-center">
				<img src="/assets/main1.jpg" class="img-responsive" alt="">
			</div>

			<div class="col-md-6  my-short-margin">

				<h3 style="font-family:Hanna; font-size=40px;">
					Sogang People's RunnINg Team
				</h3>
				<p style="font-family:Hanna;margin-top:25px  ">
					SPRINT는 단기적으로는 크루라는 소집단의 형태를 띄지만, 장기적으로는 모든 서강인들과 함께할 수 있는 러닝 공동체를 지향합니다.
				</p>
				<p style="font-family:Hanna;margin-top:25px" >
					SPRINT는 다양한 가치관을 가진 크루원들과 함께하고 있습니다.
					체력을 키우고 다이어트를 하기위해, 새로운 크루원을 사귀기 위해, 42.195KM를 극복하기 위해 등 각 크루원이 추구하는 바는 다르지만, 모두 한명의 서강인으로서 SPRINT에서 활동하고 있습니다.
				</p>
				<p style="font-family:Hanna;margin-top:25px" >
					SPRINT는 주 2회(*월요일 6시30분, 토요일 2시 - <strong style="background-color:#fed136;">주1회 이상 참여시 출석 인정</strong> )  정기 모임을 통해 꾸준한 런닝과 크루원들간의 친목 도모를 추구합니다.

				</p>

			</div>
		</div>
	</div>
	<!-- 주요 활동 소개란 -->

	<div class="container">
		<div class="row my-long-margin">
			<h2 style="font-family:Hanna;" class="section-heading" data-aos="fade-right" data-aos-duration="6500">SPRINT에서는 무엇을 하나요?
				<span >
					<a href="/gall" class="page-scroll btn btn-xl">
						갤러리 이동</a>
				</span>
			</h2>

			<div class="row my-short-margin">
				<div class="col-md-4 col-sm-6 portfolio-item" data-aos="fade-right" data-aos-duration="6500">
					<div class="portfolio-link" data-toggle="modal">

						<div class="portfolio-hover-content"></div>

						<img src="/assets/main2.jpeg" class="img-responsive" alt="">
					</div>
					<div class="portfolio-caption">
						<h4>정기러닝</h4>
						<p class="text-muted">월(6시30분)/토(2시) 장소 상암,여의도 외
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item" data-aos="fade-right">
					<div class="portfolio-link" data-toggle="modal">

						<div class="portfolio-hover-content"></div>

						<img src="/assets/main3.jpeg" class="img-responsive" alt="">
					</div>
					<div class="portfolio-caption">
						<h4>MT</h4>
						<p class="text-muted">* 3월 24~25일 예정</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item" data-aos="fade-right">
					<div class="portfolio-link" data-toggle="modal">

						<div class="portfolio-hover-content"></div>

						<img src="/assets/main4.jpg" class="img-responsive" alt="">
					</div>
					<div class="portfolio-caption">
						<h4>마라톤 대회</h4>
						<p class="text-muted">5km~풀 코스까지 다양하게 참여</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 새로운 row -->
	<div class="row">
		<div class="col-md-2 portfolio-item"></div>

		<div class="col-md-4 col-sm-6 portfolio-item" data-aos="fade-right">
			<div class="portfolio-link" data-toggle="modal">

				<div class="portfolio-hover-content"></div>

				<img src="/assets/main5.jpg" class="img-responsive" alt="">
			</div>
			<div class="portfolio-caption">
				<h4>번개런</h4>
				<p class="text-muted">정기러닝 외 지역별 번개러닝 진행</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 portfolio-item" data-aos="fade-right">
			<div class="portfolio-link" data-toggle="modal">

				<div class="portfolio-hover-content"></div>

				<img src="/assets/main6.JPG" class="img-responsive" alt="">
			</div>
			<div class="portfolio-caption">
				<h4>각종 뒤풀이</h4>
				<p class="text-muted">크루원들간 친목 도모</p>
			</div>
		</div>
		<div class="col-md-2 portfolio-item"></div>
	</div>
</div>
<!-- <div class="col-md-6 "></div>



<div class="col-md-6 "></div> -->
</section>
<!-- About Section -->
<section id="about">
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center" data-aos="fade-up" data-aos-duration="3000">
			<h2 class="section-heading">
				2기 리쿠르팅 일정
			</h2>
			<h3 class="section-subheading text-muted my-short-margin">
				SPRINT와 함께 할 다음 주자들을 찾고 있습니다.
			</h3>
		</div>
	</div>
	<div class="row" style="margin-top:180px;">
		<div class="col-lg-12">
			<ul class="timeline" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="2000">
				<li>
					<div class="timeline-image" style="background-color:white;">
						<img class="img-circle  img-responsive" src="/assets/1.png" alt="">
					</div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>2/27, 3/6
							</h4>
							<h4 class="subheading">게스트러닝 진행</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">
								* 참가시 2기 선발 우대
								<br>
								<span style="margin-top:10px;">
									<a href="https://www.instagram.com/p/BQ2UDRglRVr/?taken-by=sprint_runningcrew" class="page-scroll btn btn-xl" target="_blanck">
										게스트런 신청하기</a>
								</span>
							</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-image" style="background-color:white;">
						<img class="img-circle img-responsive" src="/assets/2.png" alt="">
					</div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>3/1(수)~3/12(일)</h4>
							<h4 class="subheading">
								서류 접수
							</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">
								하단의 google form 이용
							</p>
							<span style="margin-top:10px;">
								<a href="/faq" class="page-scroll btn btn-xl" target="_blanck">
									지원 FAQ</a>
							</span>
						</div>
					</div>
				</li>
				<li>
					<div class="timeline-image" style="background-color:white;">
						<img class="img-circle img-responsive" src="/assets/3.jpg" alt="" style="margin-top:20px">
					</div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>3/14(화)~3/15(수)</h4>
							<h4 class="subheading">면접 진행</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">
								오후 6시 이후 진행 예정
							</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-image" style="background-color:white;">
						<img class="img-circle img-responsive" src="/assets/4.jpg" alt="">
					</div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>3/16(목)</h4>
							<h4 class="subheading">
								선발 완료
							</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">
								개별 SMS 통지 예정
							</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-image">
						<h4>
							SPRINT의
							<br>
							일원이
							<br>
							되어주세요!</h4>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</section>

<!-- Contact Section -->
<section id="contact">
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center" data-aos="fade-up" >
			<h2 class="section-heading">Apply</h2>
			<p class="detail" style="color:#fed136">
				아래 설문지를 작성해서 지원해주세요!
			</p>

		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-md-6"></div>
				<div class="clearfix"></div>
				<div class="col-lg-12 text-center" data-aos="fade-up" data-aos-duration="500">
					<a href="https://goo.gl/forms/Lx2uKeiAg5S1lg9m1" target="_blank">
						<button type="submit" class="btn btn-xl" style="font-size:16px">
							SPRINT2기 지원하기
						</button>
					</a>
					<br>
				</div>
			</div>

			<!--세부사항 -->
			<div class="row"></div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
</section>
