@CHARST "UTF-8"
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
.my-short-margin{
  margin-top: 50px;

}
.my-long-margin{
  margin-top: 250px;

}

#main-header{
  background-color: #222222;
}

div.img {
    margin: 5px 0px 5px 0px;

    float: left;

}
div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
