<!DOCTYPE html>
<html>
  <head>
    <title>SPRINT 리쿠르팅 페이지</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<LINK REL="SHORTCUT ICON" HREF="/assets/favicon.ico" />

<!-- 카카오 썸네일 -->
  <meta property="og:title" content="SPRINT 리쿠르팅 페이지"/>
<meta property="og:site_name" content="SPRINT"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://sprint-rc.com"/>
<meta property="og:image" content="/assets/junggi.jpg"/>
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="210" />


    <link href="/assets/aos.css" rel="stylesheet"  />


    <link href="/assets/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->






    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

	<body id="page-top" class="index" style="font-family:Hanna;">
    <!-- Navigation -->
    	<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color:white;">
    			<div class="container">
    					<!-- Brand and toggle get grouped for better mobile display -->
    					<div class="navbar-header page-scroll">
    							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    									<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
    							</button>
    							<a class="navbar-brand page-scroll" href="/home">
                      <img src="/assets/nav-logo.png" alt="" class="img-responsive" style="height:40px;width:auto; margin-bottom:10px">
    							</a>
    					</div>

    					<!-- Collect the nav links, forms, and other content for toggling -->
    					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    							<ul class="nav navbar-nav navbar-right">
    									<li class="hidden">
    											<a href="#page-top"></a>
    									</li>

    									<li>
    											<a class="page-scroll" href="/home">home</a>
    									</li>

    									<li>
    											<a class="page-scroll" href="/faq">FAQ</a>
    									</li>
                      <li>
    											<a class="page-scroll" href="/gall">갤러리</a>
    									</li>
                      <li>
                        	<a class="page-scroll" href="https://goo.gl/forms/Lx2uKeiAg5S1lg9m1" target="_blank">지원하기</a>
                      </li>
    							</ul>
    					</div>
    					<!-- /.navbar-collapse -->
    			</div>
    			<!-- /.container-fluid -->
    	</nav>

    <%= yield %>

    <footer class="bg-light-black">
    <div class="container">
    	<div class="row">
    		<div class="col-md-6">
    			<span class="copyright">
    				문의사항 :<a href="mailto:sprint2nd@gmail.com">sprint2nd@gmail.com</a>
    			</span>
    		</div>
    		<div class="col-md-6">
    			<a href="http://instagram.com/_u/sprint_runningcrew/" target="_blank">
    				<img src="/assets/insta" style="max-width: 100%; width: 25%; height: auto;">
    			</a>
    		</div>
    	</div>
    </div>
    </footer>

    <!-- jQuery -->
     <script src="/assets/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/assets/jqBootstrapValidation.js"></script>
    <script src="/assets/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="/assets/agency.min.js"></script>
    <script src="/assets/aos.js"></script>

  <script>
    AOS.init();
  </script>
  </body>
</html>
